.App {
  height: 100vh;
}

body {
  margin: 0;
  background-image: url('./03. Snowy Mint.png');
  background-size: 100%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

* {
  font-family: 'Oswald', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 0 15px 0;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

.home-text {
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 25%;
  padding-left: 10px;
  border-left: 3px solid black;
}

.fadein {
  animation: fadeInUp 1s;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.welcome-text {
  font-size: 3rem;
}

.languages {
  font-size: 1.5rem;
  font-weight: 500;
}

.links {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content {
  margin: 0 auto;
  width: 70%;
  position: absolute;
  top: 15%;
  left: 15%;
  font-size: 3rem;
}

.about-me {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.name {
  font-size: 2.5rem;
}

.about-me-image img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-right: 30px;
}

.languages {
  width: 100%;
  padding: 10px;
}

.skills-matrix {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 40px;
}

.box {
  margin-right: 20px;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.box i {
  font-size: 3rem;
}

.skill-icon {
  margin-right: 5px;
}

ul {
  text-align: left;
}

li {
  list-style: none;
}

.front-end {
  position: relative;
  right: 15%;
}
