body {
  background-color: #2A2A35;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  margin: .5% 10% 0% 10%;
}

#home, #about, #skills, #exp {
  height: 100vh;
}

.header {
  font-family: 'Muli', sans-serif;
  font-size: 5rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -9px;
  color: #2A2A35;
  text-shadow:
   -1px -1px 0 #BED38E,
    1px -1px 0 #BED38E,
    -1px 1px 0 #BED38E,
     1px 1px 0 #BED38E;
}

.items {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 20px;
}

.item, .exp-item, .other-exp-item {
  background-color: #BED38E;
  color: #2A2A35;
  margin-bottom: 10px;
}

.link {
  cursor: pointer;
}
/*
#link1::after {
  content: '';
  height: 5%;
  width: 20%;
  border: 1px solid #BED38E;
  position: absolute;
  left: 2%;
  top: 15%;
  z-index: -10;
}

#link2::after {
  content: '';
  height: 5%;
  width: 20%;
  border: 1px solid #BED38E;
  position: absolute;
  left: 2%;
  top: 21.25%;
  z-index: -10;
}

#link3::after {
  content: '';
  height: 5%;
  width: 20%;
  border: 1px solid #BED38E;
  position: absolute;
  left: 2%;
  top: 27.5%;
  z-index: -10;
}

#link4::after {
  content: '';
  height: 5%;
  width: 20%;
  border: 1px solid #BED38E;
  position: absolute;
  left: 2%;
  top: 33.5%;
  z-index: -10;
}
*/


.about-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about-text-container, .exp-text-container {
  font-size: 1.5rem;
  padding: 5px 10px 5px 10px;
  background-color: #BED38E;
  color: #2A2A35;
}

/*
.about-text-container::after {
  content: '';
  height: 76%;
  width: 61.5%;
  border: 1px solid #BED38E;
  position: absolute;
  left: 1%;
  top: 25%;
  z-index: -10;
}
*/

.about-text {
  opacity: 0;
}

.about-img {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-img img {
  border-radius: 5px;
}

.about-links {
  font-size: 3rem;
  color: #BED38E;
}

.fab {
  color: #2A2A35;
  text-shadow:
   -1px -1px 0 #BED38E,
    1px -1px 0 #BED38E,
    -1px 1px 0 #BED38E,
     1px 1px 0 #BED38E;
  cursor: pointer;
}

.about-links .fab:first-of-type {
  margin-right: 20px;
}

.skills-header {
  font-family: 'Muli', sans-serif;
  font-size: 5rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -7px;
  color: #2A2A35;
  text-shadow:
   -1px -1px 0 #BED38E,
    1px -1px 0 #BED38E,
    -1px 1px 0 #BED38E,
     1px 1px 0 #BED38E;
}

.skills-container, .edu-container {
  height: 40vh;
  width: 60vw;
}

.subheader {
  font-size: 3rem;
  letter-spacing: -7px;
}

.skill {
  display: inline-block;
  height: 100%;
  width: 50%;
}

.exp-container {
  display: flex;
  flex-direction: row;
}

.exp-area {
  height: 50vh;
}

.exp-text-container {
  padding: 0px;
  margin-left: 20px;
}

.exp-text {
  font-size: 1rem;
}

.exp-item-text {
  font-size: 1.5rem;
}

.other-exp-container {

}

.other-exp-items {
  display: inline-block;
  width: 33%;
}

.other-exp-item {
  font-size: 1.5rem;
}

.other-exp-text {
  position: relative;
  top: 25%;
}

.projects-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  height: 90vh;
  width: 80vw;
  margin-top: 10px;
  display: flex;
}

.project-img {
  width: 50%;
  height: 60%;
  background-color: red;
}

.project-about {
  height: 100vh;
  width: 50%;
  margin-left: 10px;
  padding: 0px 10px 0px 10px;
}

.project-item ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -7%;
}

.project-item li {
  margin: 0px 10px 10px 0px;
  background-color: #BED38E;
  color: #2A2A35;
}

.project-text {
  background-color: #BED38E;
  color: #2A2A35;
  width: 100%;
  font-size: 1.5rem;
}
