body {
  background-color: #2A2A35;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  margin: .5% 10% 0% 10%;
}

#home, #about, #skills, #exp {
  height: 100vh;
}

#home-content {
  position: relative;
  top: 25%;
}

.header {
  font-family: 'Muli', sans-serif;
  font-size: 5rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -9px;
  color: #2A2A35;
  text-shadow:
   -1px -1px 0 #BED38E,
    1px -1px 0 #BED38E,
    -1px 1px 0 #BED38E,
     1px 1px 0 #BED38E;
}

.items {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 20px;
}

.items a {
  text-decoration: none;
}

.item, .exp-item, .other-exp-item {
  background-color: #BED38E;
  color: #2A2A35;
  margin-bottom: 10px;
}

.link {
  width: 20%;
}

.link a {
  text-decoration: none;
  color: #2A2A35;
}
/*
#link1::after {
  content: '';
  height: 5%;
  width: 20%;
  border: 1px solid #BED38E;
  position: absolute;
  left: 2%;
  top: 15%;
  z-index: -10;
}

#link2::after {
  content: '';
  height: 5%;
  width: 20%;
  border: 1px solid #BED38E;
  position: absolute;
  left: 2%;
  top: 21.25%;
  z-index: -10;
}

#link3::after {
  content: '';
  height: 5%;
  width: 20%;
  border: 1px solid #BED38E;
  position: absolute;
  left: 2%;
  top: 27.5%;
  z-index: -10;
}

#link4::after {
  content: '';
  height: 5%;
  width: 20%;
  border: 1px solid #BED38E;
  position: absolute;
  left: 2%;
  top: 33.5%;
  z-index: -10;
}
*/


.about-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about-text-container, .exp-text-container {
  font-size: 1.5rem;
  padding: 5px 10px 5px 10px;
  background-color: #BED38E;
  color: #2A2A35;
}

/*
.about-text-container::after {
  content: '';
  height: 76%;
  width: 61.5%;
  border: 1px solid #BED38E;
  position: absolute;
  left: 1%;
  top: 25%;
  z-index: -10;
}
*/

#about-content {
  position: relative;
  top: 10%;
  left: 5%;
}

.about-text {
  opacity: 0;
}

.about-img {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-img img {
  border-radius: 5px;
}

.about-links {
  font-size: 3rem;
  color: #BED38E;
}

.fab, .fas {
  color: #2A2A35;
  text-shadow:
   -1px -1px 0 #BED38E,
    1px -1px 0 #BED38E,
    -1px 1px 0 #BED38E,
     1px 1px 0 #BED38E;
  cursor: pointer;
}

.about-links .fab:first-of-type {
  margin-right: 20px;
}

#skills-content {
  position: relative;
  top: 5%;
  left: 0%;
}

.skills-header {
  font-family: 'Muli', sans-serif;
  font-size: 5rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -7px;
  color: #2A2A35;
  text-shadow:
   -1px -1px 0 #BED38E,
    1px -1px 0 #BED38E,
    -1px 1px 0 #BED38E,
     1px 1px 0 #BED38E;
}

.skills-container, .edu-container {
  height: 40vh;
  width: 100vw;
}

.subheader {
  font-size: 3rem;
  letter-spacing: -7px;
}

.skill {
  display: inline-block;
  height: 100%;
  width: 30%;
}

#exp-content {
  position: relative;
  top: 2%;
}

.exp-container {
  display: flex;
  flex-direction: row;
}

.exp-area {
  height: 50vh;
}

.exp-text-container {
  padding: 0px;
  margin-left: 20px;
}

.exp-text {
  font-size: 1rem;
}

.exp-item-text {
  font-size: 1.5rem;
}

#other-exp {
  margin-top: -4%;
}

.other-exp-items {
  display: inline-block;
  width: 33%;
}

.other-exp-item {
  font-size: 1.5rem;
}

.other-exp-text {
  position: relative;
  top: 25%;
}

.slider {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.slide {
  position: relative;
  height: 90vh;
  width: 80vw;
  padding: 20px;
  margin-top: 2.5%;
  display: flex;
  justify-content: center;
  margin-right: 70px;
}

.filters {
  display: flex;
  margin-top: 10px;
}

.filters div {
  z-index: 100;
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 2rem;
  letter-spacing: -3px;
  margin-right: 5px;
  width: 10%;
}

.highlight {
  margin-top: 5px;
  width: 0%;
  height: 2px;
  background-color: #BED38E;
}

.slider-button {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 5%;
  height: 80%;
  background: #2A2A35;
  border: none;
}

button i {
  font-size: 2rem;
  color: #2A2A35;
  text-shadow:
   -1px -1px 0 #BED38E,
    1px -1px 0 #BED38E,
    -1px 1px 0 #BED38E,
     1px 1px 0 #BED38E;
}

button i:hover {
  cursor: pointer;
}

#left {
  left: 0%;
}

#right {
  right: 0%;
}

.project-img {
  width: 50%;
  height: 50%;
  margin-top: 5%;
}

.project-img img {
  width: 100%;
  height: 100%;
}

.project-about {
  height: 100vh;
  width: 50%;
  margin-left: 10px;
  padding: 0px 10px 0px 10px;
  align-self: center;
}

.no-img {
  position: relative;
  left: -27%;
}

.project-header {
  letter-spacing: -6px;
}

.slide ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -7%;
}

.slide li {
  margin: 0px 10px 10px 0px;
  background-color: #BED38E;
  color: #2A2A35;
}

.project-text {
  background-color: #BED38E;
  color: #2A2A35;
  width: 100%;
  font-size: 1.5rem;
  margin-top: -5px;
}

.project-links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.proj-icon {
  font-size: 4rem;
}

.proj-icon:first-of-type {
  margin-right: 50px;
}

.git {
  display: flex;
  flex-direction: column;
}

.git-link, .web-link {
  opacity: 0;
  margin-left: 2px;
  background-color: #BED38E;
  color: #2A2A35;
  width: 50%;
  align-self: flex-start;
  text-align: center;
}

/* nav styles */

.nav {
  position: absolute;
  top: 2%;
  left: 1.25%;
}

.nav-icon {
  z-index: 100;
  position: sticky;
  top: 0;
  width: 2.5%;
  height: auto;
  cursor: pointer;
}

.line {
  height: 5px;
  width: 100%;
  background-color: #BED38E;
  display: block;
  border-radius: 5%;
  transition: 0.3s ease;
}

#line1 {
  transform: translateY(-4px);
}

#line1::after {
  background-color: #BED38E;
}

#line3 {
  transform: translateY(4px);
}

.change-icon .line {
  background-color: #2A2A35;
}

.change-icon #line1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change-icon #line3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-icon #line2 {
  opacity: 0;
}

.nav-menu {
  position: sticky;
  height: 105vh;
  width: 100vw;
  transform: translateY(-100%);
  margin-top: -2.5%;
  margin-left: -1%;
  background-color: #BED38E;
}

.nav-links {
  position: relative;
  top: 20%;
  text-align: center;
}

.nav-links a {
  text-decoration: none;
  color: #2A2A35;
  text-shadow:
   -1px -1px 0 #BED38E,
    1px -1px 0 #BED38E,
    -1px 1px 0 #BED38E,
     1px 1px 0 #BED38E;
}

#nav-icon {
  top: 0;
  left: 0;
  position: absolute;
}
